---
---

@import "{{ site.theme }}";

@media screen and (min-width: 80rem) {
    .main-content {
        max-width: 80rem;
        padding: 2rem 6rem;
        margin: 0 auto;
        font-size: 1.1rem;
    }
}

details > summary:first-of-type {
    display: list-item;
    cursor: pointer;
}

details > div {
    margin-left: 1rem;
    margin-top: 1rem;
}
